.audi {
    background-image: url("../../assets/images/nimadur\ 2.png");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .wrapper {
        font-family: "Arvo", serif;
        display: flex;
        gap: 13px;
    
        &__card {
            width: 315px;
            height: 325px;
            padding: 30px 24px 30px 15px;
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(14.5px);
            position: relative;
            top: 350px;
            border-radius: 10px;
            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: #000000;
                margin-bottom: 103px;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: #000000;
            }
        }
    }
}
