footer {
  padding-top: 47px;

  width: 100%;
  height: auto;

  .wrapper {
    font-family: "Arvo", serif;

    &__first {
      border-bottom: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      padding-top: 47px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;
      &--left {
        p {
          padding-top: 18px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          letter-spacing: 0.01em;
          color: #4f4f4f;
          margin-bottom: 47px;
        }

        &-p {
          display: flex;
          align-items: center;
          gap: 16px;
          h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            cursor: pointer;
            &:hover {
              transition: all 0.4s ease-in;
              color: #4f4f4f;
            }
          }
        }
      }

      &--right {
        &-top {
          display: flex;
          align-items: end;
          gap: 30px;
          &-s {
            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 15px;
              color: #000000;
            }

            h3 {
              padding-top: 18px;
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 24px;
              color: #000000;
            }
          }

          a {
            padding: 18.5px 51px;
            background: #000000;
            border-radius: 6px;
            text-decoration: none;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.09em;
            color: #ffffff;
          }
        }

        &-bottom {
          padding-top: 74px;
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            margin-bottom: 12px;
          }
        }
      }
    }

    &__second {
      display: flex;
      align-items: center;
      gap: 55px;
      margin-bottom: 141px;
      &--right {
        display: flex;
        align-items: center;
        gap: 8px;
        &-card {
          width: 200px;
          height: 100px;
          display: flex;
          justify-content: space-between;
          padding: 14px 14px 18px 14px;
          border: 1px solid #d9d9d9;
          border-radius: 7px;
          .images {
            width: 21px;
            height: 27.18px;
          }

          &-j {
            p {
              padding-top: 40px;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 130%;
              letter-spacing: 0.06em;
              color: #4f4f4f;
            }
          }
        }
      }
    }
  }
}
