.hotdeals {
    padding-top: 60px;
    .wrapper {
        h1 {
            text-align: center;
            font-family: "Arvo", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 130%;
            letter-spacing: 0.05em;
            color: #000000;
        }

        &__hot--list {
            display: flex;
            align-items: center;
            gap: 13px;
            margin-bottom: 34px;

            &-item {
                width: 325px;
                height: 325px;
                background: #f1f0eb;
                border: 1px solid #d9d9d9;
                border-radius: 10px;
                padding: 20px 20px;
                &-top {
                    display: flex;
                    gap: 72px;
                    h2 {
                        font-family: "Arvo", serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: 0.01em;
                        color: #000000;
                        span {
                            font-family: "Arvo", serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 130%;
                            letter-spacing: 0.12em;
                            color: #000000;
                        }
                    }
                    div {
                        font-family: "Arvo", serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 130%;
                        letter-spacing: 0.12em;
                        color: #4071cb;
                    }
                }

                &-bt1 {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding-top: 25px;
                    margin-bottom: 40px;
                    div {
                        display: flex;
                        align-items: center;
                        gap: 9.5px;
                        p {
                            font-family: "Arvo", serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 130%;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.12em;
                            color: #000000;
                            cursor: pointer;
                        }
                    }
                }

                a {
                    position: relative;
                    left: 20px;
                    padding: 15px 70px;
                    border: 1px solid #000000;
                    border-radius: 8px;
                    font-family: "Arvo", serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 130%;
                    letter-spacing: 0.17em;
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        background: #4071cb;
                        color: #f1f0eb;
                        border: none;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}
